* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.company-logo {
  position: absolute;
  top: 0px;       /* Spacing from the top */
  left: 0px;      /* Spacing from the left */
  z-index: 100;     /* Keeps it above the overlay and background */
  max-width: 300px; /* Adjust this size as needed */
  height: auto;
  pointer-events: none; /* Allows clicks to pass through if necessary */
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
}

/* Login box */
.login-container {
  position: relative;
  z-index: 2;
  width: 420px;
  padding: 35px;
  background: rgba(255, 255, 255, 0.419);
  border: 1px solid rgba(255, 255, 255, 0.368);
  backdrop-filter: blur(2px);
  text-align: center;
  box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.login-container h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

.login-container span {
  color: #007bff;
}

/* Inputs */
.login-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #aaa;
  background: rgba(255,255,255,0.85);
}

/* Button */
.login-container button {
  padding: 8px 30px;
  background: #1e90ff;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
}

/* Toggle */
.toggle-text {
  margin-top: 15px;
  font-size: 13px;
}

.toggle-text a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

/* Dashboard */
.dashboard {
  display: none;
  position: relative;
  z-index: 2;
  background: rgba(255,255,255,0.9);
  padding: 40px;
  text-align: center;
  border-radius: 6px;
}

.dashboard button {
  margin-top: 20px;
  padding: 8px 25px;
  background: #dc3545;
  color: white;
  border: none;
  border-radius: 18px;
}
